<div class="container">
<%# Search bar for location and breed %>
  <%= form_tag root_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for nearby friends"
      %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
   <% end %>

   <%# male/female buttons %>
   <%= link_to "Male", dogs_path(query:"male")  %>
   <%= link_to "Female", dogs_path(query:"female") %>
</div>

<% @dogs.each do |dog| %>
 <% dog.distance = Geocoder::Calculations.distance_between([current_user.latitude, current_user.longitude], [dog.user.latitude, dog.user.longitude]) %>
<% end %>

  <div class="container">
    <ul>
      <% @dogs.sort { |dog| dog.distance }.each do |dog| %>
        <li>
          <% if dog.photo.attached?  %>
            <%= cl_image_tag dog.photo.key, height: 50, width: 50, crop: :fill %>
          <% end %>
          <%= link_to dog.name, user_path(dog.user) %>
          <p><%= dog.distance.round(2) %> km</p>
        </li>
      <% end %>
    </ul>
  </div>

  <%= link_to 'add a new dog', new_dog_path %>
