<% @dogs.each do |dog| %>
 <% dog.distance = Geocoder::Calculations.distance_between([current_user.latitude, current_user.longitude], [dog.user.latitude, dog.user.longitude]) %>
<% end %>

<div class="container">
  <%# SEARCHBAR %>
  <div class="search-box">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class:"main-search-input col p-2", type:"search", placeholder: "Husky" %>
      <%= submit_tag "Search", class:"main-search-button col p-2" %>
    <% end %>
  </div>

  <%# gender filter %>
  <div class="filters">
   <div class="round-span male-span">
      <%= link_to "", dogs_path(query:"male"), class: "fas fa-mars col-sm p-2 male"  %>
    </div>
    <div class="round-span female-span">
      <%= link_to "", dogs_path(query:"female"), class: "fas fa-venus col-sm p-2 female" %>
    </div>
  </div>

  <%# list of dog cards with a pic and distance %>
  <div class="row">
    <div class="card-group">
      <% @dogs.sort { |dog| dog.distance }.each do |dog| %>
        <div class="dog-card">
          <% if dog.photo.attached? %>
            <%= link_to user_path(dog.user) do %>
              <% if dog.gender == "female" %>
                <%= cl_image_tag dog.photo.key, class: "dog-card-picture" %>
              <% else %>
                <%= cl_image_tag dog.photo.key, class: "dog-male" %>
              <% end %>
            <% end %>
          <% end %>
          <div class="card-title">
            <h2><%= dog.name %></h2>
          </div>
          <div class="dog-card-distance">
            <p><%= dog.distance.round(2) %> km</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
