<div class="container">
  <div class="row">
    <h2>Find dogs in your area</h2>
  </div>
  <div class="row">

   <div class="main-search-input-wrap">
     <div class="main-search-input fl-wrap">
         <div class="main-search-input-item"> <input type="text" value="" placeholder="Search Products..."> </div> <button class="main-search-button">Search</button>
     </div>
 </div class="row">
    <%# end of the UI Kitt search bar %>
    <div class="gender-icons">
    <%# start of UI kitt buttons for male and female filter, linking to search filters %>
      <%= link_to "", "#", class: "fas fa-mars" %>
      <%= link_to "", "#", class: "fas fa-venus" %>
    <%# end of the UI kitt buttons for male and female filter %>
    </div>
  </div>
  <%# list of dog cards with a pic and distance %>
  <div class="row">
    <div class="card-group">
      <% @dogs.each do |dog| %>
        <div class="dog-card">
          <% if dog.photo.attached? %>
            <%= link_to user_path(dog.user) do %>
              <%= cl_image_tag dog.photo.key, class: "dog-card-picture" %>
            <% end %>
          <% end %>
          <div class="dog-card-distance">
            <%# linking to distance instead of name, change when seeds are done %>
            <p><%= link_to dog.user.address, user_path(dog.user) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
