<h4 class="text-center my-3">Let your dog meet new friends</h4>
<div class="d-flex">
    <div class="form">
        <%= simple_form_for @dog do |f| %>
          <div class="name">
            <%= f.input :name %>
          </div>
          <div class="d-flex">
            <div class="gender">
              <%= f.input :gender, collection: ['male', 'female'] %>
            </div>
            <div class="age">
              <%= f.input :age %>
            </div>
          </div>
          <div class="breed">
            <%= f.input :breed %>
          </div>
          <div class="upload">
              <%= f.input :photo, as: :file %>
              <%= f.submit%>
          </div>
        <% end %>
    </div>
  <div class="image">
    <%= image_tag "2dogs.jpg", height: 210, width: 120, crop: :fill, class: "banner-add-dog"  %>
  </div>
</div>
<%# deleted ++home++ link, as it was one too many %>
