<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1><%= @chatroom.friendship.receiver.nickname %></h1>
<%# messages display %>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
 </div>
<%# form to send messages%>
    <%= simple_form_for [@chatroom, @message], remote: true, html: {data: {chatroom_subscription_target: "form"}} do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Type your Message",
        input_html: { autocomplete: 'off' }
      %>
      <%= f.submit "Send", class:"main-search-button col p-2" %>
    <% end %>
</div>
