<h1><%= @user.first_name %></h1>

<h3><%= @user.first_name %>'s Dog:</h3>
<ul>
    <% @dogs.each do |dog| %>
      <li> <%= dog.name %></li>
      <li><%= dog.gender %></li>
      <% if policy(dog).destroy? %>
        <li><%= link_to "Delete #{dog.name}", dog_path(dog), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
      <% if policy(dog).edit? %>
        <li><%= link_to "Edit #{dog.name}", edit_dog_path(dog) %></li>
      <% end %>
    <% end %>
</ul>

<%= link_to 'Home', root_path %>
