<div class="container">
    <!-- User name -->
  <% if policy(@user).edit? %>
      <li><%= link_to "Edit #{@user.first_name}", edit_user_registration_path %></li>
  <% end %>
  <% if policy(@user).destroy? %>
      <li><%= link_to "Delete #{@user.first_name}", user_registration_path, method: :delete, data: { confirm: "Do you want to delete #{@user.first_name}?"} %></li>
  <% end %>

<!-- User name -->
<div class="show_user_card">
  <div class="show_user_card_image">
    <!-- User Avatar -- need to implement bootstrap! -->
    <% if @user.avatar.attached?  %>
      <%= cl_image_tag @user.avatar.key, height: 75, width: 75, crop: :fill, class: "rounded-circle" %>
    <% end %>
  </div>
  <div class="show_user_card_name">
    <h2>Hi, I'm <%= @user.first_name %></h2>
  </div>
  <div class="friendship">
    <% if @friendship &&  @friendship.status == true %>
      <div class="show_user_card_button">
       <%= link_to 'Write me', chatroom_path(@friendship.chatroom), class: "btn btn-primary" %>
      </div>
    <% elsif @friendship && @friendship.status == false %>
       <div> <p>Pending request</p></div>
    <% else %>
      <%= button_to "Request", user_friendships_path(@user), method: :post %>
    <% end %>
  </div>
  <%# if stsatement, if we're friends, button to appear %>
</div>

<div class="show_user_card_bio">
    <h5>I'm <%= @user.bio %></h5>
</div>
<!-- Pet Info -- need to implement bootstrap! -->
<div class="show_dog_card">
  <% @dogs.each do |dog| %>
  <div class="show_dog_card_image">
    <% if dog.photo.attached?  %>
      <%= cl_image_tag dog.photo.key, height: 130, width: 130, crop: :fill, class: "rounded-circle" %>
    <% end %>
  </div>
  <div class="show_dog_card_bio">
    <div class="show_dog_card_name">
      <h3><strong><%= dog.name.capitalize %></strong></h3>
    </div>
    <div class="show_dog_card_p">
      <p>Gender: <%= dog.gender %></p>
      <p>Age: <%= dog.age %></p>
      <p>Breed: <%= dog.breed %></p>
    </div>
  </div>
    <% if policy(dog).destroy? %>
      <li><%= link_to "Delete #{dog.name}", dog_path(dog), method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash-alt" %></li>
    <% end %>
    <% if policy(dog).edit? %>
      <li><%= link_to "Edit #{dog.name}", edit_dog_path(dog), class: "fas fa-edit" %></li>
      <% end %>
    <% end %>
</div>

<%# need to be hidden with pundit, for admin view and access only %>
<!-- Form to upload photos -- need to implement bootstrap!!-->
<% if policy(@user).add_photo? %>
  <%=simple_form_for @user, url: add_photo_user_path(@user), method: :patch do |f| %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
    <%= f.button :submit, class: "btn-chatroom" %>
  <%end %>
<% end  %>

  <!-- Gallery of photos -- need to implement bootstrap!! -->
  <% if @user.photos.attached?  %>
    <% @user.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
</div>
