<h1><%= @user.first_name %>' profile page</h1>

<h3>These are my pets:</h3>

<% @dogs.each do |dog| %>
  <h3><%= dog.name.capitalize %></h3>
  <% if dog.photo.attached?  %>
    <%= cl_image_tag dog.photo.key, height: 50, width: 50, crop: :fill %>
  <% end %>
  <p>Gender:<%= dog.gender %></p>
  <p>Years: <%= dog.age %></p>
  <p>Bread: <%= dog.breed %></p>
  <%= link_to "Delete #{dog.name}", dog_path(dog), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>


<p><%= link_to 'Home', root_path %></p>
