<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <div class="d-flex">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "scoobylogo.png" %>
    <% end %>

  <div class="app_title">
    <div class= "col align-self-start">
      <%= "Scoobie" %>
    </div>
  </div>
</div>


<ul class="navbar-nav">
  <% if user_signed_in? %>
    <li class="nav-item dropdown">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "scoobylogo.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    <div class="dropdown-menu dropdown-menu-end" style="position: absolute;"aria-labelledby="navbarDropdown">
      <%= link_to 'Add a new Dog', new_dog_path, class: "dropdown-item" %>
      <%= link_to "Another action", "#", class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
  </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
        <% end %>
    </ul>
  </div>
</div>
