<h1>Menage your friendships.</h1>

<h2>Received request</h2>
<% if @received_requests %>
  <% @received_requests.each do |request| %>
    <%= cl_image_tag request.asker.avatar.key, height: 75, width: 75, crop: :fill, class: "rounded-circle" %>
    <%= request.asker.nickname %>
    <%= link_to "accept",  accept_friendship_path(request), method: :put %>
    <%= link_to "deny",  decline_friendship_path(request), method: :put %>
  <% end %>
<% end %>

<h2>Pending request</h2>
<% if @pending_requests %>
  <% @pending_requests.each do |request| %>
    <%= cl_image_tag request.receiver.avatar.key, height: 75, width: 75, crop: :fill, class: "rounded-circle" %>
    <%= link_to request.receiver.nickname, user_path(request.receiver) %>
  <% end %>
<% end %>
